<div class="detalle-profesor">
	

	<div class="imagenes-escudos">
		<div id="logo-unam">
			<a href="https://www.unam.mx/" target="blank">
				<img src="assets/unam.png">			
			</a>	

		</div><!--
		--><div id="logo-ciencias">
			<a href="http://www.fciencias.unam.mx/" target="blank">
				<img src="assets/fciencias.png">			
			</a>
		</div>
	</div>

	<div id="datos-profa">	
		<h3>Autora</h3>

		<div class="circle">
			
			<img src="{{profesor.foto}}">

		</div>

		<span id="nombre">{{profesor.nombre}}</span>

		<span id="mail">{{profesor.email}}</span>
		<span id="telefono">{{profesor.telefono}}</span>

	</div>

</div>