
@media (max-width: 768px) {

	#top-picasso #picasso {
		width: 100%;
		height: 50px;
	}

	.menu-hide .ham {
		margin-top: 30px;
		padding-right: 5px;
	}

	.menu-hide {
		background: transparent;
	}
}
