@media (max-width: 768px) {

	.cont-pic {

		display: block;
		height: 50px;
	}
	.imagenes-escudos {
		width: 74%;
		padding: 5px 0px;

	}

	.imagenes-escudos div a img {
		width: 35px;
	}

	#logo-unam img {
		float: left;
		padding-left: 0px !important; 
	}

	#logo-ciencias img {
		float: right;
		padding: 0px !important;
	}

	.menu-capitulos{
		width: 300px;
		border: none;
	}

	.cont-caps h3 {
		font-family: 'Playfair Display', serif; 
		color: #1f421f;
		font-size: 20px;
	}
	#lista-capitulos li span{
	    font-weight: 400;
	    font-size: 12px;
	    font-family: 'Quicksand', sans-serif;
	}
	.menu-capitulos ul li {
		padding: 8px 0px;
	}
	.showed-menu {
		-webkit-box-shadow: 2px 2px 23px 0px rgba(133,129,133,1);
		-moz-box-shadow: 2px 2px 23px 0px rgba(133,129,133,1);
		box-shadow: 2px 2px 23px 0px rgba(133,129,133,1);
	}
}
