<div class="contenido-capitulo" *ngIf="capituloSel" [@menuState]="menuState">

	<div class="shadow">
		<h3 id="titulo-libro">{{libro.titulo}}</h3>
		<h4 id="edicion">{{libro.edicion}}</h4>
		<h3 id="titulo-cap">{{capituloSel.id}}. {{capituloSel.nombre}}</h3>
		<p class="resumen">{{capituloSel.resumen}}</p>
		<div *ngIf="capituloSel.id == 1" id="proceso">
			<img src="assets/iconos/proceso_programacion.png">
		</div>
		<ul id="lista-archivos">
			<li *ngFor="let archivo of capituloSel.listaArchivos">
				<i class="fa fa-file-code-o" aria-hidden="true"></i>
				<a href="assets/archivos/capitulo_{{capituloSel.id}}/{{archivo.ruta}}" download>{{archivo.nombre}}</a>
			</li>
		</ul>		
	</div>

</div>