h3,h4{
    font-family: 'Playfair Display', serif;   
}

.contenido-capitulo {
    display: block;
    float: none;
    padding: 0 220px 350px 350px;
    position: relative;
    vertical-align: top;
    margin: auto;
    height: 100%;   
}

.contenido-capitulo h3 {
	color: #1f421f;
    margin: 0px;

}

.contenido-capitulo p {
	font-family: sans-serif;
	font-size: 12px;
}

.shadow {
    float: left;
    padding-top: 120px;
    padding-bottom: 100px;
}

#titulo-libro{
    display: block;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 3px solid #1f421f;
    text-transform: uppercase;
    font-size: 25px;
}
#edicion {
    display: block;
    width: 100%;
    color: #1f421f;
    text-align: right;
}
#titulo-cap{
    padding: 13px 0px;
    font-size: 24px;
    padding-left: 15px;
}

/**
Probar este fuente
Avenir,Tahoma,sans-serif

*/

.contenido-capitulo p {
    font-weight: 400;
    font-size: 13px;
    font-family: 'Quicksand', sans-serif;/*'Droid Serif', serif;*//*'Zilla Slab', serif*/;    
}

.resumen {
    font-weight: 400;
    font-size: 13px;
    font-family: 'Quicksand', sans-serif;/*'Droid Serif', serif;*//*'Zilla Slab', serif*/;
    text-align: justify;
}
#lista-archivos{
    list-style: none;
    padding-left: 10px;
}
#lista-archivos li i {
    color: #1f421f;
}

#proceso {
    display: block;
    width: 100%;
    padding-top: 30px;
}
#proceso img {
    display: block;
    width: 400px;
    margin: 0 auto;
}

#ico-nombre {
    display: table;
    padding-top: 35px;
}

#ico-nombre a, h3{
    display: table-cell;
}

#ico-nombre h3 {
    vertical-align: middle;
}

#ico {
/*
    border: solid 2px #822727;
    border-radius: 100%;
*/
}

#ico img {
    width: 80px;
    height:80px;
}